schema/plan-0.7.0.dtd

<?xml version='1.0' encoding='UTF-8'?>

<!--
    This is the Document Type Definition for the Calligra Plan Project Planning and Management Tool.
    Version 0.7.0
    Dag Andersen <danders@get2net.dk>

    Note: This document is designed to make it possible to generate
          usable java classes for import/export.
-->

<!-- plan is the top level element (holding a project) -->
<!ELEMENT plan (project?)>
<!ATTLIST plan
    author CDATA #IMPLIED
    email  CDATA #IMPLIED
    editor CDATA #IMPLIED
    mime   CDATA "application/x-vnd.kde.plan"
    version CDATA #IMPLIED>

<!-- One project node -->
<!ELEMENT project (
    project-settings?|
    accounts?|
    calendars?|
    resource-groups?|
    resources?|
    resource-group-relations?|
    tasks?|
    relations?|
    project-schedules?|
    resource-teams?|
    external-appointments?|
    resource-requests?|
    required-resource-requests?|
    alternative-requests?)
>

<!ATTLIST project id CDATA #REQUIRED
    name CDATA #IMPLIED
    leader CDATA #IMPLIED
    description CDATA #IMPLIED
    scheduling (MustStartOn|MustFinishOn) "MustStartOn"
    start-time CDATA #IMPLIED
    end-time CDATA #IMPLIED
    timezone CDATA #IMPLIED>

<!-- project-settings -->
<!ELEMENT project-settings (task-modules?|shared-resources?|wbs-definition?|locale?|workpackageinfo?|standard-worktime?)>

<!ELEMENT task-modules EMPTY>
<!ATTLIST task-modules
    use-local-task-modules CDATA #IMPLIED>

<!-- WBS code generation format -->
<!ELEMENT wbs-definition (default|levels?)>
<!ATTLIST wbs-definition
    levels-enabled CDATA #IMPLIED
    project-code  CDATA #IMPLIED
    project-separator  CDATA #IMPLIED>

<!-- WBS code generation default format -->
<!ELEMENT default EMPTY>
<!ATTLIST default
    separator CDATA "."
    code CDATA "Number">

<!ELEMENT levels (level*)>
<!ELEMENT level EMPTY>
<!ATTLIST level
    level CDATA #REQUIRED
    separator CDATA "."
    code CDATA "Number">

<!-- The locale used in this project -->
<!ELEMENT locale EMPTY>
<!ATTLIST locale
    currency-symbol CDATA #IMPLIED
    currency-digits  CDATA #IMPLIED
    language  CDATA #IMPLIED
    country  CDATA #IMPLIED>

<!-- The shared resources/projects settings used in this project -->
<!ELEMENT shared-resources EMPTY>
<!ATTLIST shared-resources
    use  CDATA #IMPLIED
    file  CDATA #IMPLIED>

<!-- The workpackageinfo settings used in this project -->
<!ELEMENT workpackageinfo EMPTY>
<!ATTLIST workpackageinfo
    check-for-workpackages  CDATA #IMPLIED
    retrieve-url  CDATA #IMPLIED
    delete-after-retrieval  CDATA #IMPLIED
    archive-after-retrieval  CDATA #IMPLIED
    archive-url  CDATA #IMPLIED
    publish-url  CDATA #IMPLIED>

<!-- Standard worktime defines the numbers of hours resources are expected to work -->
<!ELEMENT standard-worktime EMPTY>
<!ATTLIST standard-worktime
    day CDATA "8h0m"
    week CDATA "40h0m"
    month CDATA "176h0m"
    year CDATA "1760h0m">

<!-- Cost accounts -->
<!ELEMENT accounts (account*)>

<!-- A cost account may have child accounts and costplaces -->
<!ELEMENT account (account*|costplace*)>
<!ATTLIST account
   name CDATA #REQUIRED
   description CDATA #IMPLIED>

<!-- A cost place is info on where the cost is generated (object-id referes to a task or a resource) -->
<!ELEMENT costplace EMPTY>
<!ATTLIST costplace
    object-id CDATA #REQUIRED
    startup-cost CDATA "0"
    shutdown-cost CDATA "0"
    running-cost CDATA "0"
>

<!-- A calendar defines working hours for resource(s) or modifies duration for task(s) -->
<!ELEMENT calendars (calendar*)>
<!ELEMENT calendar (calendar*|weekday*|day*)>
<!ATTLIST calendar
    id CDATA #REQUIRED
    parent CDATA #IMPLIED
    name CDATA #IMPLIED
    default CDATA "0"
    timezone  CDATA #IMPLIED
    origin (local|shared) "local">

<!-- 7 weekdays (0=monday - 6=sunday) -->
<!ELEMENT weekday (time-interval*)>
<!ATTLIST weekday
    day-number (0|1|2|3|4|5|6) "0"
    state (0|1|2) "0">

<!--
    interval as used by calendar:
        interval has a start time and a length (in ms)
        start+length must not exceed midnight
-->
<!ELEMENT time-interval EMPTY>
<!ATTLIST time-interval
    start CDATA #IMPLIED
    length CDATA #IMPLIED>

<!--
    A day has a date and state: 0=Undefined, 1=NonWorking, 2=Working.
    If state=Working, there will (should) be one or more interval
 -->
<!ELEMENT day (time-interval*)>
<!ATTLIST day
    date CDATA #IMPLIED
    state (0|1|2) "0">


<!-- Resource groups -->
<!ELEMENT resource-groups (resource-group*)>
<!ELEMENT resource-group (resource-group*)>
<!ATTLIST resource-group
    id CDATA #REQUIRED
    name CDATA #IMPLIED
    type CDATA #IMPLIED
    coordinator CDATA #IMPLIED
    origin (local|shared) "local">

<!-- Resource, used by both resources and used effort -->
<!ELEMENT resources (resource*)>
<!ELEMENT resource (actual-effort*)>
<!ATTLIST resource
    id CDATA #REQUIRED
    type (Work|Material|Team) "Work"
    name CDATA #IMPLIED
    email CDATA #IMPLIED
    initials CDATA #IMPLIED
    normal-rate CDATA #IMPLIED
    overtime-rate CDATA #IMPLIED
    units CDATA "100"
    calendar-id CDATA #IMPLIED
    account CDATA #IMPLIED
    origin (local|shared) "Local">

<!-- Used both by resource -->
<!ELEMENT required-resources (required-resource*)>
<!ELEMENT required-resource EMPTY>
<!ATTLIST required-resource
    resource-id CDATA #REQUIRED
    required-id CDATA #REQUIRED>

<!-- Resource-group-relations -->
<!ELEMENT resource-group-relations (resource-group-relation*)>
<!ATTLIST resource-group-relation
    group-id CDATA #REQUIRED
    resource-id CDATA #REQUIRED>

<!ELEMENT tasks (task*)>
<!-- Task can be tasks, milestones (zero estimate) or summary tasks (have children) -->
<!ELEMENT task (task*|estimate|documents?|task-schedules?|progress?)>
<!ATTLIST task	id CDATA #REQUIRED
    name CDATA #IMPLIED
    leader CDATA #IMPLIED
    description CDATA #IMPLIED
    wbs CDATA #IMPLIED
    scheduling (ASAP|ALAP|MustStartOn|MustFinishOn|StratNotEarlier|FinishNotLater) "ASAP"
    constraint-starttime  CDATA #IMPLIED
    constraint-endtime CDATA #IMPLIED
    startup-cost CDATA #IMPLIED
    shutdown-cost CDATA #IMPLIED>

<!ELEMENT estimate EMPTY>
<!ATTLIST estimate
    type (Effort|Duration) "Effort"
    risk (None|Low|High) "None"
    expected CDATA "0"
    optimistic CDATA "0"
    pessimistic CDATA "0"
    unit CDATA "h"
    calendar-id CDATA #IMPLIED>

<!-- Not used by import/export
<!ELEMENT workpackage EMPTY>
<!ATTLIST workpackage
    owner CDATA #IMPLIED
    owner-id CDATA #IMPLIED>
-->

<!ELEMENT progress (completion-entry*|used-effort)>
<!ATTLIST progress
    entrymode (FollowPlan|EnterCompleted|EnterEffortPerTask|EnterEffortPerResource) "EnterCompleted"
    startTime CDATA #IMPLIED
    finishTime CDATA #IMPLIED
    started CDATA "0"
    finished CDATA "0">

<!ELEMENT completion-entry EMPTY>
<!ATTLIST completion-entry
    date CDATA #REQUIRED
    performed-effort CDATA #IMPLIED
    percent-finished CDATA "0"
    remaining-effort CDATA #IMPLIED
    note CDATA #IMPLIED>

<!ELEMENT used-effort (resource*)>
<!-- Resource defined above -->
<!--
<!ELEMENT ue-resource (actual-effort*)>
<!ATTLIST ue-resource
    id CDATA #REQUIRED>
-->

<!ELEMENT actual-effort EMPTY>
<!ATTLIST actual-effort
    date CDATA #REQUIRED
    normal-effort CDATA #IMPLIED
    overtime-effort CDATA #IMPLIED>

<!-- schedules used by project -->
<!ELEMENT project-schedules (schedule-management*)>
<!-- schedule-management holds common scheduling parameters for a schedule -->
<!ELEMENT schedule-management (schedule-management*|project-schedule*)>
<!ATTLIST schedule-management
    id CDATA #IMPLIED
    name CDATA #IMPLIED
    scheduling-direction CDATA "0"
    recalculate-from CDATA #IMPLIED
    check-external-appointments CDATA "1"
    distribution CDATA "0"
    baselined CDATA "0"
    recalculate CDATA "0"
    overbooking CDATA "0"
    scheduler-plugin-id CDATA #IMPLIED>

<!ELEMENT project-schedule (criticalpath-list?|appointment*)>
<!ATTLIST project-schedule
    id CDATA #REQUIRED
    name CDATA #IMPLIED
    type CDATA "Expected"
    start CDATA #IMPLIED
    end CDATA #IMPLIED
    duration CDATA #IMPLIED
    not-scheduled CDATA "0"
    scheduling-conflict CDATA "0"
    scheduling-error CDATA "0">

<!-- A list of critical paths used by project -->
<!ELEMENT criticalpath-list (criticalpath*)>
<!ELEMENT criticalpath (node*)>
<!ELEMENT node EMPTY>
<!ATTLIST node
    id CDATA #REQUIRED>

<!-- Appointments between resources and tasks used by project -->
<!ELEMENT appointment (appointment-interval*)>
<!ATTLIST appointment
    resource-id CDATA #REQUIRED
    task-id CDATA #REQUIRED>

<!--
    appointment-interval as used by appointment and external-appointment:
        has a start datetime, end datetime and a load
-->
<!ELEMENT appointment-interval EMPTY>
<!ATTLIST appointment-interval
    start CDATA #IMPLIED
    end CDATA #IMPLIED
    load CDATA "0">

<!-- schedules used by task -->
<!ELEMENT task-schedules (task-schedule*)>

<!ELEMENT task-schedule EMPTY>
<!ATTLIST task-schedule
    id CDATA #REQUIRED
    name CDATA #IMPLIED
    type CDATA "Expected"
    start CDATA #IMPLIED
    end CDATA #IMPLIED
    start-work CDATA #IMPLIED
    end-work CDATA #IMPLIED
    duration CDATA #IMPLIED
    earlystart CDATA #IMPLIED
    earlyfinish CDATA #IMPLIED
    latestart CDATA #IMPLIED
    latefinish CDATA #IMPLIED
    positive-float CDATA #IMPLIED
    free-float CDATA #IMPLIED
    negative-float CDATA #IMPLIED
    in-critical-path CDATA "0"
    not-scheduled CDATA "0"
    scheduling-conflict CDATA "0"
    scheduling-error CDATA "0"
    resource-error CDATA "0"
    resource-overbooked CDATA "0"
    resource-not-available CDATA "0">


<!-- documents used by task -->
<!ELEMENT documents (document*)>
<!ELEMENT document EMPTY>
<!ATTLIST document
    name CDATA #IMPLIED
    url CDATA #IMPLIED
    type CDATA "0" 
    sendas CDATA "0"
    status CDATA #IMPLIED>


<!-- FIXME non-essential, move to separate file?
<!ELEMENT workpackage-log (wplog-entry*)>

<!ELEMENT wplog-entry (progress)>
<!ATTLIST wplog-entry
    owner-id CDATA #IMPLIED
    owner CDATA #IMPLIED
    status (Send|Receive) "Send"
    time CDATA #IMPLIED>
-->

<!ELEMENT resource-requests (resource-request*)>
<!ELEMENT resource-request EMPTY>
<!ATTLIST resource-request
    request-id CDATA #REQUIRED
    task-id CDATA #REQUIRED
    group-id CDATA #IMPLIED
    resource-id CDATA #REQUIRED
    units CDATA "100">

<!-- Used both by resource-request and by resource -->
<!ELEMENT required-resource-requests (required-resource-request*)>
<!ELEMENT required-resource-request EMPTY>
<!ATTLIST required-resource-request
    task-id CDATA #REQUIRED
    request-id CDATA #REQUIRED
    required-id CDATA #REQUIRED>

<!ELEMENT alternative-requests (alternative-request*)>
<!ELEMENT alternative-request EMPTY>
<!ATTLIST alternative-request
    task-id CDATA #REQUIRED
    request-id CDATA #REQUIRED
    resource-id CDATA #REQUIRED
    units CDATA "100">

<!--
    Task relations are described by the two IDs, the type of constraint and lag
    The ids are references to tasks, so all tasks must have been loaded
-->
<!ELEMENT relations (relation*)>
<!ELEMENT relation EMPTY>
<!ATTLIST relation
	parent-id CDATA #REQUIRED
    child-id CDATA #REQUIRED
    type (Finish-Start|Finish-Finish|Start-Start) "Finish-Start"
    lag CDATA #IMPLIED>


<!-- resource teams (if any) -->
<!ELEMENT resource-teams (team*)>
<!ELEMENT team EMPTY>
<!ATTLIST team
    team-id CDATA #REQUIRED
    member-id CDATA #REQUIRED>

<!-- external appointments -->
<!ELEMENT external-appointments (external-appointment*)>
<!ELEMENT external-appointment (appointment-interval*)>
<!ATTLIST external-appointment
    resource-id CDATA #REQUIRED
    project-id CDATA #REQUIRED
    project-name CDATA #REQUIRED>
